h3 {display:inline-block; text-align: center; position: relative; left: 800px;}
#a {position: relative; top: 50px; right: 50px}
#b {position: relative; left: 1200px; top: 50px}
#c {position: relative; top: 50px; left: 500px}
h4 {position: relative; }
